html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#app {
	height: 100%;
	width: 100%;
}
#roomWrap {
    width: 200px;
}

#roomList {
    border: 1px solid #0084FF;
    border-radius: 5px;
}

#roomHeader {
    background-color: #0084FF;
    color: #fff;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.roomEl {
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0px;
    cursor: pointer;
}

.roomEl:hover{
    background: #f0f0f0;
}

.roomEl.active{
    background: #f0f0f0;
}
#chatWrap {
    width: 600px;
    border: 1px solid #ddd;
}

#chatHeader {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
}

#chatLog {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.myMsg {
    text-align: right;
}

.anotherMsg {
    text-align: left;
    margin-bottom: 5px;
}
.whisperMsg {
    text-align: left;
}

.msg {
    /* display: inline-block; */
	display: inline-block;
    border-radius: 4px;
    /* padding: 7px 15px; */
    /* margin-bottom: 10px;
    margin-top: 5px; */

}

.members {
	text-align:center;
	/* background-color: #e3e3e3; */
	border: 3px solid #e3e3e3;
}

#memberHeader{
	text-align:center;
}
.anotherMsg > .msg {
    background-color: #f100f0;

}
.whisperMsg > .msg {
    background-color: #f1f000;

}

.myMsg > .msg {
    background-color: #0084FF;
    color: #fff;
}

.anotherName {
    font-size: 12px;
    display: block;
}

#chatForm {
    display: block;
    width: 100%;
    height: 40px;
    border-top: 2px solid #f0f0f0;
}

#message {
    width: 70%;
    height: calc(100%);
    border: none;
    padding-bottom: 0;
	margin-left:2px;
	
}
#memberlist {
	width:10%;
	height:100%;
}
#send {
	width:19%;
	height:100%;
}
#message:focus {
    outline: none;
}

#chatForm > input[type=submit] {
    outline: none;
    border: none;
    background: none;
    color: #0084FF;
    font-size: 17px;
}
#memberWrap{
    width: 200px;
}

#memberList {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

#memberHeader {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 600;
}

.memberEl {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 20px;
    font-size: 14px;
}
#contentCover{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

#writecontent {
	text-align:center;
	width:30%;
	float:right;
	margin-right:10px;
	margin-bottom:10px;
}
#deletecontent {
	text-align:center;
	width:30%;
	float:right;
}
#showcontent {
	margin-top: 2px;
	margin-left:2px;
	border:1px solid #f0f0f0;
	width:530px;
	height:100%;
}
#showlist {
	width:30%;
	margin-left:2px;
	margin-top:2px;
	padding-left:5px;
	
}
.display-3 {
	text-align:center;
}
.lead {
	text-align:center;
}
#putFile {
	border:1px solid #f0f0f0;
	padding:1px;
}

#fileInput {
	padding-top:14px;
	padding-left:14px;
}
#fileList {
	border : 1px solid #f0f0f0;
	width:100%;
	height:100%;
	padding:10px;
}
#fileName {
	border : 1px solid #f0f0f0;
	padding-left:14px;
	height:40px;
}
.fileLists {
	padding-left:14px;
}
#read_description {
	height: 300px;
    overflow-y: auto;
	width:500px;
    padding: 10px;
	margin-left:14px;
}
#title_name{
	margin-left:14px;
}
#showTable {
	margin:10px;
}
#filebutton {
	margin-left:420px;
}
#read_title {
	height: 40px;
    text-align: center;
	width:500px;
    line-height: 60px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
	margin-left:14px;
}