<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/common.css">
	<link rel="stylesheet" href="<%= cssFile %>">
</head>
<body>
	<div id="app"><%- markup %></div>
	<script type='text/javascript'>
		window.__INITIAL_STATE__ = "hello";
		$(()=>{
			const socket = io('');
			$('.myMsg').scroll(()=>{
			  socket.emit('scroll');
			})
			$('#chatForm').submit(()=>{
				socket.emit('chat message',$('#message').val());
				$('#message').val('');
				return false;
			});
			socket.on('chat message',(msg)=>{
			  //- console.log($('#nickname').val())
			  $('.myMsg').append($('<span class="msg">').text(msg));
			  $('.myMsg').append($('<span class="msg">').text(msg));
			  $('.myMsg').append($('<br>'));
			  $('#chatLog').scroll()[0].scrollTop=$('#chatLog').scroll()[0].scrollHeight;
       		});
		});
	</script>
	<script src="<%= jsFile %>"></script>
</body>
</html>